/* ===== CSS: MOBILE-FIRST ===== */



/* ===== IMPORTAÇÕES ===== */
@import url(reset.css);
@import url(variables.css);


/* Acessibilidade*/

a:focus-visible,
button:focus-visible {
    outline: 2px solid var(--cor-primaria);
    outline-offset: 4px;
}

/* ===== ESTILOS GLOBAIS (MOBILE BASE) ===== */

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte-base);
    transition: background-color 0.3s ease, color 0.3s ease;
    line-height: 1.5;
}

/* Definições de tema*/
body.dark-mode {
    --cor-fundo: #151c25;
    --cor-texto: #ffffff;
    --cor-destaque: #2c2f36;
    --cor-primaria: #ff7a00;
    --cor-secundaria: #00c896;
    --cor-form: #2c2f36;
}

body:not(.dark-mode) {
    --cor-fundo: #ffffff;
    --cor-texto: #151c25;
    --cor-destaque: #eaeaea;
    --cor-primaria: #ff7a00;
    --cor-secundaria: #3d4140;
    --cor-form: #151c25;
}

.container {
    margin: 0 auto;
    padding: 0 var(--espacamento-normal);
}

/* ===== CABEÇALHO ===== */
header {
    height: auto;
    padding: var(--espacamento-normal) 0;

}


/* Navegação principal*/
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--espacamento-normal);
    position: sticky;
    top: 0;
    background-color: var(--cor-fundo);
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.logo {
    font-size: var(--fs-grande);
    font-weight: bold;
    color: var(--cor-texto);
    text-decoration: none;
}

.logo span {
    color: var(--cor-primaria);
}

.menu-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hamburger,
.theme-btn {
    background: none;
    border: none;
    font-size: 1.8rem;
    color: var(--cor-texto);
    cursor: pointer;
}

#menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--cor-fundo);
    text-align: center;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.45) 0px -5px 15px -5px;
}

#menu.active {
    display: flex;
}

#menu a.nav-link {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: var(--borda-radius);
    text-decoration: none;
    color: var(--cor-texto);
    transition: background 0.3s ease;
}

#menu a.nav-link:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-fundo);
}

/* ===== CLASSE DE BOTÃO===== */
.btn {
    display: inline-block;
    padding: 0.8rem 1.8rem;
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    /* Para consistência */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-primary {
    font-size: var(--fs-normal);
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
    border-radius: 8px;
    padding: 0.8rem 2rem;
    max-width: 200px;
    min-height: 30px;
}

.btn-primary:hover {
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
    border-color: var(--cor-fundo);
}


/* ===== HERO ===== */
.hero {
    display: flex;
    flex-direction: column;
    padding: var(--espacamento-normal);
    gap: var(--espacamento-normal);
    box-shadow: rgba(0, 0, 0, 0.45) 0px -5px 15px -5px;
}

.info-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.info-me h1 {
    font-size: var(--fs-normal);
    font-weight: bold;
}

.info-me .h1-subtitle strong {
    color: var(--cor-primaria);
    font-weight: 700;
    font-size: var(--fs-grande);
}

.info-me p {
    max-width: 45ch;
    text-align: justify;
}

.foto img {
    max-width: 280px;
    width: 100%;
    height: auto;
    margin: 0 auto;

}

/* ===== SOBRE MIM ===== */
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--espacamento-grande);
    padding: var(--espacamento-grande) var(--espacamento-normal);
    box-shadow: rgba(0, 0, 0, 0.45) 0px -5px 15px -5px;
}

.about-me-left img {
    max-width: 280px;
    width: 100%;
    height: auto;
}

.about-me-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.about-me-right h2 {
    font-size: var(--fs-grande);
}

.about-me-right .section-subtitle {
    font-size: var(--fs-pequeno);
    color: var(--cor-primaria);
    font-weight: bold;
}

.about-me-right p {
    text-align: justify;
    max-width: 45ch;
}


.technologies-list {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin-top: var(--espacamento-normal);
}

.technologies-list img {
    max-width: 50px;
}

/* ===== PROJETOS ===== */
.content-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espacamento-grande);
    padding: var(--espacamento-grande) var(--espacamento-normal);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px -5px 15px -5px;
}

.content-projects .title {
    color: var(--cor-primaria);
}

.content-projects p {
    text-align: justify;

}

.projects-grid {
    display: flex;
    flex-direction: column;
    gap: var(--espacamento-grande);
    width: 100%;
    align-items: center;
    border-radius: 8px;
}

.project-card {
    padding: 1rem;
    border-radius: 12px;
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    gap: var(--espacamento-pequeno);
    width: 100%;
    max-width: 400px;

}

.project-card .banner {
    width: 100%;
    height: auto;
    border-radius: var(--borda-radius);
}

.project-tech {
    margin-top: auto;
    padding-top: 1rem;
}

.project-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

/* ===== CONTATO ===== */
.contato {
    padding: var(--espacamento-grande) var(--espacamento-normal);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px -5px 15px -5px;
}

.content-contact {
    max-width: 100%;

}

.form-title {
    margin-bottom: var(--espacamento-pequeno);
    font-size: var(--fs-grande);
}

.form-title span {
    color: var(--cor-primaria);
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: var(--espacamento-normal);
    border-radius: 20px;
    max-width: 500px;
    margin: 0 auto;
    border: 2px solid var(--cor-destaque);
}

.form-box label {
    text-align: left;
    margin-bottom: 0.2rem;
}

.form-box input,
.form-box textarea {
    padding: 0.75rem;
    border-radius: var(--borda-radius);
    border: 1px solid var(--cor-borda);
    background-color: #ffffff;
    color: var(--cor-fundo);
    width: 100%;
}

.form-box textarea {
    resize: vertical;
}

.form-box button {
    margin: 1rem auto;
}

.form-box .btn-primary {
    margin-top: var(--espacamento-grande);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ===== RODAPÉ ===== */
footer {
    padding: var(--espacamento-grande) var(--espacamento-normal);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px -5px 15px -5px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espacamento-normal);
}

.footer-logo {
    font-size: var(--fs-subtitle);
    font-weight: bold;
    color: var(--cor-texto);
    text-decoration: none;
}

.footer-logo span {
    color: var(--cor-primaria);
}

.footer-nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
}

.footer-nav a {
    color: var(--cor-texto);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: var(--cor-primaria);
}

.footer-social {
    display: flex;
    gap: 1.5rem;
}

.footer-social img {
    width: 30px;
    height: 30px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.footer-social img:hover {
    opacity: 1;
}

.footer-copy p {
    font-size: var(--fs-pequeno);
}

.footer-copy a:hover {
    transition: opacity 0.3s ease;
    color: var(--cor-primaria);
    font-weight: bold;
    font-size: var(--fs-normal);

}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/*******************MEDIA QUERIES**********************/

/* ===== TABLET (A PARTIR DE 768px) ===== */

@media (min-width: 768px) {


    .container {
        max-width: 90%;
        margin: 0 auto;
        padding: 0 var(--espacamento-grande);
    }

    /* --- CABEÇALHO E NAVEGAÇÃO --- */
    .hamburger {
        display: none;
    }

    #menu {

        display: flex !important;
        flex-direction: row;
        gap: 3rem;
        position: static;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
    }

    /* SEÇÃO HERO */
    .hero {
        flex-direction: row;
        align-items: center;
        gap: var(--espacamento-grande);
        text-align: left;
        flex: 1;
        height: 90%;
    }

    .info-me {
        align-items: flex-start;
        flex: 1;
    }

    .foto {
        flex: 1;
        max-width: 45%;
    }

    /* --- SEÇÃO SOBRE MIM */
    .about-me {
        flex-direction: row;
        align-items: center;
        gap: var(--espacamento-grande);
        text-align: left;
    }

    .about-me-left,
    .about-me-right {
        flex: 1;
    }

    .about-me-right {
        align-items: flex-start;
    }

    .technologies-list {
        justify-content: flex-start;
    }

    /* --- SEÇÃO PROJETOS:  */
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--espacamento-grande);
    }
}


/* ===== DESKTOP (A PARTIR DE 1024px) ===== */

@media (min-width: 1024px) {

    .nav-bar {
        padding: 3rem;

    }

    .hero {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: var(--espacamento-normal);
        text-align: left;
        height: 90vh;
        margin: 0 auto;
    }

    .info-me {
        margin-left: 5rem;

    }

    .about-me {
        height: 95vh;
    }

    .about-me-left {
        margin-left: 5rem;
    }

    .content-projects {
        display: flex;
        align-items: center;
    }

    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }

    .technologies-list {

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.form-box {
    max-width: 700px;

}